/*-- FONTS --*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&family=Roboto+Mono:wght@100&family=Josefin+Sans:wght@100&display=swap');

/*-- GENERAL --*/
:root {
    --bg: rgb(30, 30, 30);
    --light-bg: #2a2a2a;
    --text-color: rgb(255, 255, 255);
    --text-light: rgb(227, 227, 227);
    --text-lighter: rgb(208, 208, 208);
    --nav-height: 50px;
    --anim-speed: 150ms;
    --anim-slow: 300ms;
    --anim-really-slow: 600ms;
}

* {
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    transition: var(--anim-speed);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--text-lighter);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: var(--bg);
}

main {
    min-height: calc(100% - var(--nav-height));
    padding: 10px;
}

svg > * {
    stroke: var(--text-color);
}

/*-- NAV BAR AND FOOTER --*/
nav * {
    max-height: var(--nav-height);
}
nav {
    background-color: var(--light-bg);
    height: var(--nav-height);
    margin-bottom: 15px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 1);
    display: grid;
}

nav a {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    height: 100%;
    padding: 4px;
    margin: 0 16px;
}

nav a:hover {
    color: var(--text-lighter);
}

footer {
    background-color: var(--light-bg);
    height: 100px;
    margin: 0;
    display: grid;
    place-items: center;
}

.icon-link {
    padding: 0 5px;
    margin: 0;
    background: none;
}

.icon-link:hover {
    background: none;
}

.icon-link:hover img {
    transform: scale(0.9);
}

input, textarea {
    background-color: var(--light-bg);
}

/*-- CODE --*/
pre code {
    font-family: 'Roboto Mono', monospace;
    margin: 8px;
    background: var(--light-bg);
    border-radius: 10px;
    display: block;
    border: none;
}

/*-- TEXT --*/
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
}

.paragraph {
    text-align: left;
    padding-left: 10vw;
    font-size: 18px;
}

/* this will probably break at some point... not really sure what I am doing here */
:not(nav) > * > a {
    color: var(--text-light);
    text-decoration: none;
    transition: var(--anim-speed);
    padding: 2px;
}

:not(nav) > * > a:hover {
    color: var(--text-lighter);
}

button {
    background: var(--light-bg);
    border: var(--text-lighter);
}
button:hover {
    background: var(--light-bg);
    border: var(--text-lighter);
}

