
#my-projects, #shared-projects {
    margin-top: 10px;
}

.project-button {
    text-decoration: none;
    background-color: var(--input-bg);
    margin: 4px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-button:hover {
    background-color: vaR(--input-hover-bg);
}

.projectName {
    float: left;
    background: none;
    max-width: 33%;
    font-size: 28px;
    overflow: hidden;
    margin-top: 1px;
    display: flex;
    align-items: center;
}