#input {
    transition: 0ms;
    padding-bottom: 0;
    margin-bottom: 10px;
    background-color: var(--light-bg);
    height: 80%;
    outline: none;
    font-family: Menlo,Monaco,Consolas,'Courier New',monospace;
    font-size: 13px;
    width: 100%;
}

#output {
    text-align: left;
    white-space: pre-line;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
    border: none;
    background-color: var(--light-bg);
    font-size: 16px;
}

button {
    border: none;
    margin: 3px;
    padding: 5px;
}

#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    text-align: center;
}