@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&family=Raleway:wght@200&family=Roboto:wght@300&family=Saira:wght@200&display=swap&family=Lato:wght@300&family=Roboto:wght@100&family=Roboto+Mono:wght@100&family=Josefin+Sans:wght@100&display=swap');
@import url('./components.css');
@import url('../lib/semantic/semantic.min.css');
@import url('../../cdn/node_modules/hydrate-web/index.css');
/* -------------------------------------------------- GENERAL ---------------------------------------------------- */

/*
    Prevents flash of white on dark mode.
    Cannot pre-emptively check for dark mode as the theme
    is not known until it is too late
 */
body:not([data-theme]) {
    --bg: #838383;
}

:root {
    --nav-height: 70px;
    --anim-speed: 150ms;
    --anim-slow: 300ms;
    --anim-really-slow: 600ms;

    --nav-colour: transparent;
}

/*
    Dark mode styles, also default.
 */
:root,
[data-theme='dark'] {
    --text-v-light: #909090;

    --label-bg: #c0c0c0;
    --label-text: #000000;
    --label-border: #e0e0e0;

    --nav-border-bottom: transparent;

    --text: #ffffff;
    --bg-accent: #505050;
    --accent: #076207;
    --text-warning: #ff8d8d;
    --border: #646464;
    --border-light: #545454;

    --bg: rgb(30, 30, 30);
    --light-bg: #2a2a2a;
    --text-color: rgb(255, 255, 255);
    --text-light: rgb(227, 227, 227);
    --text-lighter: rgb(208, 208, 208);
}

[data-theme='light'] {
    --bg: #eeeeee;
    --bg-accent: white;
    --accent: #15cb15;
    --nav-border-bottom: transparent;

    --text-warning: red;

    --border: #c5c5c5;
    --border-light: #e8e8e8;

    --text: #000000;
    --text-light: #575757;
}

* {
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    transition: var(--anim-speed);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--text-lighter);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}


/* -------------------------------------------------- STRUCTURE ---------------------------------------------------- */

html,
body {
    padding: 0;
    margin: 0;
    background: var(--bg);
}

main {
    min-height: calc(100vh - var(--nav-height));
    padding: 10px;
}

html,
body,
main {
    margin: 0;
    min-height: calc(100% - var(--nav-height));
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-flex-center {
    display: flex;
    align-items: center;
}

.flex-wrap {
    display: flex;
    align-content: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
}

.fill-screen {
    width: 100%;
    height: 100vh;
}

section {
    border-bottom: 1px solid var(--border);
    padding-bottom: 20px;
}

.bordered {
    border: 1px solid var(--border);
    border-radius: 10px;
}

section:last-child {
    border-bottom: none;
}

hr {
    border: none;
    border-top: 1px solid var(--border);
}

@media only screen and (max-aspect-ratio: 6/5) {
    .hide-mobile {
        display: none !important;
    }
}

/* -------------------------------------------------- INPUT ---------------------------------------------------- */

input,
button,
textarea {
    border: none;
    background: none;
    font-size: 17px;
    outline: none;
}

input {
    border-bottom: 2px solid var(--border);
    border-radius: 10px 10px 0 0;
    padding: 6px;
}

input:hover {
    border-bottom: 2px solid var(--accent);
}

input:focus {
    background: var(--bg-accent);
}

.editable-text {
    border: 1px solid transparent;
    background: transparent;
    font: inherit;
    transition: 300ms;
    border-radius: 0;
}

.editable-text:hover {
    border: 1px solid transparent;
    background: transparent;
    color: var(--text-light);
}

.editable-text:focus {
    border: 1px solid var(--border);
    background: transparent;
    color: var(--text);
}

textarea {
    border: 1px solid var(--border);
    border-radius: 0 0 10px 10px;
    margin: 10px;
    padding: 10px;
    resize: vertical;
    transition: 0s;
}

.big-link {
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--accent);
    height: fit-content;
    width: fit-content;
    border: none;
    padding: 10px;
    display: grid;
    /* assumed one svg icon and then text */
    grid-template-columns: 60px 1fr;
    align-items: center;
    cursor: pointer;
}

.big-link:hover {
    background-color: var(--bg-accent);
}

.big-link:hover svg {
    fill: var(--accent);
}

.big-link.secondary {
    background-color: transparent;
    border: 1px solid var(--border);
}

.big-link.secondary:hover {
    border-color: var(--accent);
    box-shadow: 0 0 6px 2px var(--border-light);
}

input,
button,
textarea {
    font-family: 'Quicksand', sans-serif;
}

a:hover,
a:focus,
button:hover,
button:focus,
input:hover,
input:focus,
textarea:hover,
textarea:focus {
    color: var(--text-light);
}

input,
textarea {
    font-size: 18px;
}

button,
a {
    cursor: pointer;
}

input,
textarea {
    cursor: text;
}

select {
    background: var(--bg-accent);
    outline: none;
    border-radius: 6px;
    border: none;
    padding: 4px;
    min-width: 40px;
}

/* -------------------------------------------------- TEXT ---------------------------------------------------- */

* {
    color: var(--text);
}

body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Saira', sans-serif;
}

h2 {
    margin: 20px;
    padding-top: 20px;
    font-size: 25px;
    color: var(--text-light);
}

h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

@media only screen and (max-aspect-ratio: 6/5) {
    * {
        transition: 0ms;
        max-width: 100vw;
    }

    body {
        position: static;
    }

    html,
    body,
    main {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    html,
    body {
        min-height: 100vh;
    }
}

.ct-label {
    color: var(--text) !important;
    fill: var(--text) !important;
}

/* Settings Button */

.settings-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.settings-button svg {
    fill: var(--text-light);
}

/* ------------------------------------------------- NAV & FOOTER -------------------------------------------------- */


footer {
    height: 200px;
    background: var(--bg-accent);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--light-bg);
    place-items: center;
}

.icon-link {
    padding: 0 5px;
    margin: 0;
    background: none;
}

.icon-link:hover {
    background: none;
}

.icon-link:hover img {
    transform: scale(0.9);
}

input, textarea {
    background-color: var(--light-bg);
}

/*-- CODE --*/
pre code {
    font-family: 'Roboto Mono', monospace;
    margin: 8px;
    background: var(--light-bg);
    border-radius: 10px;
    display: block;
    border: none;
}

/*-- TEXT --*/
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
}

.paragraph {
    text-align: left;
    padding-left: 10vw;
    font-size: 18px;
}

/* this will probably break at some point... not really sure what I am doing here */
:not(nav) > * > a {
    color: var(--text-light);
    text-decoration: none;
    transition: var(--anim-speed);
    padding: 2px;
}

:not(nav) > * > a:hover {
    color: var(--text-lighter);
}

button {
    background: var(--light-bg);
    border: var(--text-lighter);
}
button:hover {
    background: var(--light-bg);
    border: var(--text-lighter);
}

