@import url('./components.css');
@import url('../../cdn/node_modules/hydrate-web/index.css');
/* -------------------------------------------------- GENERAL ---------------------------------------------------- */

/*
    Prevents flash of white on dark mode.
    Cannot pre-emptively check for dark mode as the theme
    is not known until it is too late
 */
body:not([data-theme]) {
    --bg: #838383;
}

:root {
    --nav-height: 70px;
    --anim-speed: 150ms;
    --anim-slow: 300ms;
    --anim-really-slow: 600ms;
}

/*  Dark mode styles, also default.  */
:root,
[data-theme='dark'] {
    --nav-colour: #2a2a2a;
    --nav-border-bottom: transparent;

    --label-bg: #c0c0c0;
    --label-text: #000000;
    --label-border: #e0e0e0;

    --bg: rgb(30, 30, 30);
    --bg-accent: #505050;
    --light-bg: #2a2a2a;

    --accent: #3bb09a;

    --border: #646464;
    --border-light: #545454;

    --text: rgb(255, 255, 255);
    --text-light: rgb(227, 227, 227);
    --text-lighter: rgb(208, 208, 208);
    --text-v-light: #909090;
    --text-warning: #ff8d8d;
}

[data-theme='light'] {
    --nav-colour: #e0e0e0;

    --label-bg: #c0c0c0;
    --label-text: #000000;
    --label-border: #e0e0e0;

    --bg: rgb(239, 239, 239);
    --bg-accent: #e1e1e1;
    --light-bg: #eeeeee;

    --accent: #65ccba;

    --border: #ababab;
    --border-light: #adadad;

    --text: rgb(0, 0, 0);
    --text-light: rgb(66, 66, 66);
    --text-lighter: rgb(87, 87, 87);
    --text-v-light: #727272;
    --text-warning: #ff8d8d;
}

* {
    color: var(--text);
    font-family: 'Lato', sans-serif;
    transition: var(--anim-speed);
}

/* -------------------------------------------------- SCROLLBAR ---------------------------------------------------- */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--bg);
}
::-webkit-scrollbar-thumb {
    background: var(--text-lighter);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--text);
}


/* -------------------------------------------------- STRUCTURE ---------------------------------------------------- */

html,
body,
main {
    padding: 0;
    margin: 0;
    background: var(--bg);
    min-height: calc(100vh - var(--nav-height));

    overflow-x: hidden;
}

main {
    padding: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-center-fill {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.vertical-flex-center {
    display: flex;
    align-items: center;
}

.flex-wrap {
    display: flex;
    align-content: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
}

.fill-screen {
    width: 100%;
    height: 100vh;
}

section {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.bordered {
    border: 1px solid var(--border);
    border-radius: 10px;
}

section:last-child {
    border-bottom: none;
}

hr {
    border: none;
    border-top: 1px solid var(--border);
}

@media only screen and (max-aspect-ratio: 6/5) {
    .hide-mobile {
        display: none !important;
    }
}

/* -------------------------------------------------- INPUT ---------------------------------------------------- */

.editable-text {
    border: 1px solid transparent;
    background: transparent;
    font: inherit;
    transition: 300ms;
    border-radius: 0;
}

.editable-text:hover {
    border: 1px solid transparent;
    background: transparent;
    color: var(--text-light);
}

.editable-text:focus {
    border: 1px solid var(--border);
    background: transparent;
    color: var(--text);
}

textarea {
    border: 1px solid var(--border);
    border-radius: 0 0 10px 10px;
    margin: 10px;
    padding: 10px;
    resize: vertical;
    transition: 0s;
}

select {
    background: var(--bg-accent);
    outline: none;
    border-radius: 6px;
    border: none;
    padding: 4px;
    min-width: 40px;
}

input, textarea {
    background-color: var(--light-bg);
    outline: none;
}

svg {
    fill: var(--text) !important;
    stroke: var(--text) !important;
    color: var(--text) !important;
}

/* -------------------------------------------------- TEXT ---------------------------------------------------- */

* {
    color: var(--text);
    font-size: 17px;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Saira', sans-serif;
}

h2 {
    margin: 20px;
    padding-top: 20px;
    font-size: 25px;
    color: var(--text-light);
}

h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
}

pre code {
    font-family: 'Roboto Mono', monospace;
    margin: 8px;
    padding: 4px;
    background: var(--bg-accent);
    border-radius: 4px;
    display: block;
    border: none;
}

@media only screen and (max-aspect-ratio: 6/5) {
    * {
        transition: 0ms;
        max-width: 100vw;
    }

    body {
        position: static;
    }

    html,
    body,
    main {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    html,
    body {
        min-height: 100vh;
    }
}


/* ------------------ Animations -------------------- */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ------------------ Chartist Overrides -------------------- */
.ct-label {
    color: var(--text) !important;
    fill: var(--text) !important;
}

/* ------------------ Semantic UI overrides ------------------ */
.ui.inverted.button,
.ui.inverted.button:hover,
.ui.inverted.button.primary,
.ui.inverted.button.primary:hover{
    box-shadow: none !important;
    background: var(--bg-accent);
}
.ui.button.primary {
    background: var(--accent) !important;
    color: var(--text) !important;
    border: 2px solid var(--accent) !important;
}
.ui.button.primary:hover {
    background: var(--bg-accent) !important;
    color: var(--accent) !important;
}
.ui.button.primary svg {
    fill: var(--accent) !important;
}
.ui.inverted.button.primary {
    border: 2px solid var(--accent) !important;
    font-size: 17px !important;
}
.ui.inverted.button.primary:hover {
    color: var(--accent) !important;
    background: var(--bg-accent) !important;
}
.ui.inverted.button:hover {
    background: var(--accent) !important;
    color: var(--text) !important;
}